# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('./Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN']).copy()

# Review the DataFrame
applicant_data_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns= enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,NAME_146TH ALUMNI ASSOCIATION,NAME_14TH ARMORED DIVISION,NAME_150TH INTELLIGENCE SQUADRON ENLISTED ADVISORY COUNCIL,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables).copy()

# Review the DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
    numerical_variables_df,
    encoded_df],
    axis=1
)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [13]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [14]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,NAME_146TH ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [15]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [39]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

19684

In [40]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  70

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

70

In [42]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  30

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

30

In [43]:
# Create the Sequential model instance
nn = Sequential()

In [44]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [45]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [46]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [47]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 70)                1377950

 dense_7 (Dense)             (None, 30)                2130

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 1,380,111
Trainable params: 1,380,111
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [48]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [49]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 11s 11ms/step - loss: 0.4897 - accuracy: 0.7639
Epoch 2/50
804/804 [==============================] - 10s 12ms/step - loss: 0.1255 - accuracy: 0.9542
Epoch 3/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0982 - accuracy: 0.9603
Epoch 4/50
804/804 [==============================] - 9s 11ms/step - loss: 0.0949 - accuracy: 0.9614
Epoch 5/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0929 - accuracy: 0.9621
Epoch 6/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0929 - accuracy: 0.9619
Epoch 7/50
804/804 [==============================] - 9s 11ms/step - loss: 0.0921 - accuracy: 0.9611
Epoch 8/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0906 - accuracy: 0.9617
Epoch 9/50
804/804 [==============================] - 9s 11ms/step - loss: 0.0901 - accuracy: 0.9628
Epoch 10/50
804/804 [==============================] - 10s 12ms/step - loss: 0.0898 - accuracy: 0.9621
Epoch 11/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0894 - accuracy: 0.9629
Epoch 12/50
804/804 [==============================] - 9s 11ms/step - loss: 0.0884 - accuracy: 0.9626
Epoch 13/50
804/804 [==============================] - 10s 12ms/step - loss: 0.0881 - accuracy: 0.9636
Epoch 14/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0874 - accuracy: 0.9640
Epoch 15/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0873 - accuracy: 0.9642
Epoch 16/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0868 - accuracy: 0.9639
Epoch 17/50
804/804 [==============================] - 9s 11ms/step - loss: 0.0868 - accuracy: 0.9641
Epoch 18/50
804/804 [==============================] - 10s 12ms/step - loss: 0.0862 - accuracy: 0.9645
Epoch 19/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0852 - accuracy: 0.9642
Epoch 20/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0854 - accuracy: 0.9649
Epoch 21/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0848 - accuracy: 0.9647
Epoch 22/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0848 - accuracy: 0.9654
Epoch 23/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0843 - accuracy: 0.9655
Epoch 24/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0837 - accuracy: 0.9650
Epoch 25/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0834 - accuracy: 0.9653
Epoch 26/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0828 - accuracy: 0.9658
Epoch 27/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0826 - accuracy: 0.9658
Epoch 28/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0826 - accuracy: 0.9656
Epoch 29/50
804/804 [==============================] - 10s 12ms/step - loss: 0.0825 - accuracy: 0.9662
Epoch 30/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0819 - accuracy: 0.9664
Epoch 31/50
804/804 [==============================] - 9s 11ms/step - loss: 0.0818 - accuracy: 0.9660
Epoch 32/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0814 - accuracy: 0.9665
Epoch 33/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0811 - accuracy: 0.9666
Epoch 34/50
804/804 [==============================] - 10s 12ms/step - loss: 0.0808 - accuracy: 0.9668
Epoch 35/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0805 - accuracy: 0.9666
Epoch 36/50
804/804 [==============================] - 9s 11ms/step - loss: 0.0803 - accuracy: 0.9668
Epoch 37/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0800 - accuracy: 0.9670
Epoch 38/50
804/804 [==============================] - 10s 12ms/step - loss: 0.0798 - accuracy: 0.9670
Epoch 39/50
804/804 [==============================] - 9s 11ms/step - loss: 0.0801 - accuracy: 0.9673
Epoch 40/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0796 - accuracy: 0.9670
Epoch 41/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0797 - accuracy: 0.9670
Epoch 42/50
804/804 [==============================] - 10s 12ms/step - loss: 0.0792 - accuracy: 0.9673
Epoch 43/50
804/804 [==============================] - 10s 12ms/step - loss: 0.0790 - accuracy: 0.9672
Epoch 44/50
804/804 [==============================] - 9s 11ms/step - loss: 0.0791 - accuracy: 0.9672
Epoch 45/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0789 - accuracy: 0.9668
Epoch 46/50
804/804 [==============================] - 11s 13ms/step - loss: 0.0791 - accuracy: 0.9676
Epoch 47/50
804/804 [==============================] - 10s 12ms/step - loss: 0.0787 - accuracy: 0.9673
Epoch 48/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0787 - accuracy: 0.9674
Epoch 49/50
804/804 [==============================] - 9s 12ms/step - loss: 0.0781 - accuracy: 0.9681
Epoch 50/50
804/804 [==============================] - 10s 12ms/step - loss: 0.0783 - accuracy: 0.9676

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [50]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.6316 - accuracy: 0.7458 - 2s/epoch - 9ms/step
Loss: 0.6316086053848267, Accuracy: 0.7457726001739502

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [53]:
# Set the model's file path
file_path = Path("./Resources/applicants_data.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [54]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

19684

In [55]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [56]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 =  40

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

40

In [57]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [58]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation = 'relu'))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation= 'linear'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 40)                787400

 dense_10 (Dense)            (None, 1)                 41

=================================================================
Total params: 787,441
Trainable params: 787,441
Non-trainable params: 0
_________________________________________________________________

In [59]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [60]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=30, verbose=2)

Epoch 1/30
804/804 - 8s - loss: 6.6330 - accuracy: 0.5303 - 8s/epoch - 10ms/step
Epoch 2/30
804/804 - 6s - loss: 6.4425 - accuracy: 0.5661 - 6s/epoch - 8ms/step
Epoch 3/30
804/804 - 6s - loss: 6.3365 - accuracy: 0.5786 - 6s/epoch - 8ms/step
Epoch 4/30
804/804 - 6s - loss: 6.5552 - accuracy: 0.5578 - 6s/epoch - 8ms/step
Epoch 5/30
804/804 - 6s - loss: 6.3248 - accuracy: 0.5756 - 6s/epoch - 8ms/step
Epoch 6/30
804/804 - 6s - loss: 6.3934 - accuracy: 0.5816 - 6s/epoch - 8ms/step
Epoch 7/30
804/804 - 6s - loss: 6.4051 - accuracy: 0.5828 - 6s/epoch - 8ms/step
Epoch 8/30
804/804 - 6s - loss: 6.4213 - accuracy: 0.5821 - 6s/epoch - 8ms/step
Epoch 9/30
804/804 - 6s - loss: 6.4397 - accuracy: 0.5822 - 6s/epoch - 8ms/step
Epoch 10/30
804/804 - 6s - loss: 6.4408 - accuracy: 0.5822 - 6s/epoch - 8ms/step
Epoch 11/30
804/804 - 6s - loss: 6.4421 - accuracy: 0.5819 - 6s/epoch - 8ms/step
Epoch 12/30
804/804 - 6s - loss: 8.1363 - accuracy: 0.4673 - 6s/epoch - 8ms/step
Epoch 13/30
804/804 - 6s - loss: 6.6942 - accuracy: 0.5613 - 6s/epoch - 8ms/step
Epoch 14/30
804/804 - 7s - loss: 9.9138 - accuracy: 0.3538 - 7s/epoch - 8ms/step
Epoch 15/30
804/804 - 6s - loss: 9.9148 - accuracy: 0.3541 - 6s/epoch - 8ms/step
Epoch 16/30
804/804 - 6s - loss: 7.8210 - accuracy: 0.4885 - 6s/epoch - 8ms/step
Epoch 17/30
804/804 - 6s - loss: 6.4326 - accuracy: 0.5824 - 6s/epoch - 8ms/step
Epoch 18/30
804/804 - 6s - loss: 6.3984 - accuracy: 0.5845 - 6s/epoch - 8ms/step
Epoch 19/30
804/804 - 6s - loss: 6.4017 - accuracy: 0.5847 - 6s/epoch - 8ms/step
Epoch 20/30
804/804 - 6s - loss: 6.3938 - accuracy: 0.5846 - 6s/epoch - 8ms/step
Epoch 21/30
804/804 - 6s - loss: 6.4035 - accuracy: 0.5847 - 6s/epoch - 8ms/step
Epoch 22/30
804/804 - 7s - loss: 6.4035 - accuracy: 0.5847 - 7s/epoch - 9ms/step
Epoch 23/30
804/804 - 7s - loss: 6.4035 - accuracy: 0.5847 - 7s/epoch - 8ms/step
Epoch 24/30
804/804 - 7s - loss: 6.4035 - accuracy: 0.5847 - 7s/epoch - 9ms/step
Epoch 25/30
804/804 - 6s - loss: 6.4035 - accuracy: 0.5847 - 6s/epoch - 8ms/step
Epoch 26/30
804/804 - 7s - loss: 6.4035 - accuracy: 0.5847 - 7s/epoch - 8ms/step
Epoch 27/30
804/804 - 6s - loss: 6.4035 - accuracy: 0.5847 - 6s/epoch - 8ms/step
Epoch 28/30
804/804 - 6s - loss: 6.4035 - accuracy: 0.5847 - 6s/epoch - 8ms/step
Epoch 29/30
804/804 - 6s - loss: 6.4035 - accuracy: 0.5847 - 6s/epoch - 8ms/step
Epoch 30/30
804/804 - 6s - loss: 6.4035 - accuracy: 0.5847 - 6s/epoch - 8ms/step

#### Alternative Model 2

In [61]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

19684

In [62]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [63]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 30

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

30

In [64]:
# Create the Sequential model instance
nn_A2 =  Sequential()

In [65]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation = 'relu'))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation= 'softmax'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 30)                590550

 dense_12 (Dense)            (None, 1)                 31

=================================================================
Total params: 590,581
Trainable params: 590,581
Non-trainable params: 0
_________________________________________________________________

In [66]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [67]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=20, verbose=2)

Epoch 1/20
804/804 - 9s - loss: 0.9605 - accuracy: 0.5335 - 9s/epoch - 11ms/step
Epoch 2/20
804/804 - 6s - loss: 0.2452 - accuracy: 0.5335 - 6s/epoch - 7ms/step
Epoch 3/20
804/804 - 6s - loss: 0.1108 - accuracy: 0.5335 - 6s/epoch - 8ms/step
Epoch 4/20
804/804 - 6s - loss: 0.1026 - accuracy: 0.5335 - 6s/epoch - 7ms/step
Epoch 5/20
804/804 - 7s - loss: 0.1004 - accuracy: 0.5335 - 7s/epoch - 8ms/step
Epoch 6/20
804/804 - 7s - loss: 0.0978 - accuracy: 0.5335 - 7s/epoch - 9ms/step
Epoch 7/20
804/804 - 7s - loss: 0.0969 - accuracy: 0.5335 - 7s/epoch - 8ms/step
Epoch 8/20
804/804 - 6s - loss: 0.0953 - accuracy: 0.5335 - 6s/epoch - 8ms/step
Epoch 9/20
804/804 - 6s - loss: 0.0937 - accuracy: 0.5335 - 6s/epoch - 7ms/step
Epoch 10/20
804/804 - 6s - loss: 0.0929 - accuracy: 0.5335 - 6s/epoch - 8ms/step
Epoch 11/20
804/804 - 6s - loss: 0.0923 - accuracy: 0.5335 - 6s/epoch - 7ms/step
Epoch 12/20
804/804 - 6s - loss: 0.0915 - accuracy: 0.5335 - 6s/epoch - 7ms/step
Epoch 13/20
804/804 - 6s - loss: 0.0902 - accuracy: 0.5335 - 6s/epoch - 8ms/step
Epoch 14/20
804/804 - 6s - loss: 0.0906 - accuracy: 0.5335 - 6s/epoch - 7ms/step
Epoch 15/20
804/804 - 6s - loss: 0.0892 - accuracy: 0.5335 - 6s/epoch - 7ms/step
Epoch 16/20
804/804 - 6s - loss: 0.0893 - accuracy: 0.5335 - 6s/epoch - 7ms/step
Epoch 17/20
804/804 - 6s - loss: 0.0884 - accuracy: 0.5335 - 6s/epoch - 7ms/step
Epoch 18/20
804/804 - 6s - loss: 0.0880 - accuracy: 0.5335 - 6s/epoch - 7ms/step
Epoch 19/20
804/804 - 6s - loss: 0.0876 - accuracy: 0.5335 - 6s/epoch - 7ms/step
Epoch 20/20
804/804 - 6s - loss: 0.0873 - accuracy: 0.5335 - 6s/epoch - 7ms/step

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [69]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 2s - loss: 0.6316 - accuracy: 0.7458 - 2s/epoch - 6ms/step
Loss: 0.6316086053848267, Accuracy: 0.7457726001739502

In [70]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 2s - loss: 2.8901 - accuracy: 0.7304 - 2s/epoch - 7ms/step
Loss: 2.8900678157806396, Accuracy: 0.7303789854049683

In [71]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 2s - loss: 0.8577 - accuracy: 0.5292 - 2s/epoch - 7ms/step
Loss: 0.8577063083648682, Accuracy: 0.5292128324508667

### Step 3: Save each of your alternative models as an HDF5 file.

In [72]:
# Set the file path for the first alternative model
file_path = Path("./Resources/applicants_data.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [73]:
# Set the file path for the second alternative model
file_path = Path("./Resources/applicants_data.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)